.one {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 214, 214);
  position: absolute;
  top: 0;
  left: 0;
}

.two {
  width: 100px;
  height: 100px;
  background-color: rgb(206, 206, 255);
  position: absolute;
  top: 0px;
  left: 100px;
}

.three {
  width: 100px;
  height: 100px;
  background-color: rgb(190, 190, 190);
  position: absolute;
  top: 0px;
  left: 100px;
}
